* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Flex', sans-serif;;
}
.App, .main-container, .form-container {
  display: flex;
}
.App {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 10px;
  height: 90vh;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.main-container {
  flex-direction: row;
  justify-content: space-around;
  height: 90%;
  width: 95%;
}
.header {
  display: block;
  color:rgb(74, 74, 74);
  margin: 20px 20px 20px 20px;
}
.form-container {
  flex-direction: column;
}

.sublabel-desc {
  font-size: 0.8rem;
  color: darkgray;
  margin-bottom: 10px;
}

.chart-container {
  height: fit-content;
  margin-top: 60px;
}
.button {
  margin: 0 25px;
}
